
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import 'variables';
  @import 'colors';
  @import 'containers';
  @import 'fonts';
  @import 'icons';
  @import 'buttons.scss';
}

body {
  background-color: #ffffff;
}

[v-cloak] {
  display: none;
  border: 1px solid red;
}
