$icomoon-font-family: "iconsax" !default;
$icomoon-font-path: "fonts" !default;

$isax-d-cube-scan: "\e900";
$isax-d-rotate: "\e901";
$isax-d-square: "\e902";
$isax-dcube: "\e903";
$isax-square: "\e904";
$isax-support: "\e905";
$isax-activity: "\e906";
$isax-add-circle: "\e907";
$isax-add-square: "\e908";
$isax-add: "\e909";
$isax-additem: "\e90a";
$isax-airdrop: "\e90b";
$isax-airplane-square: "\e90c";
$isax-airplane: "\e90d";
$isax-airpod: "\e90e";
$isax-airpods: "\e90f";
$isax-alarm: "\e910";
$isax-align-bottom: "\e911";
$isax-align-horizontally: "\e912";
$isax-align-left: "\e913";
$isax-align-right: "\e914";
$isax-align-vertically: "\e915";
$isax-aquarius: "\e916";
$isax-archive-1: "\e917";
$isax-archive-2: "\e918";
$isax-archive-add: "\e919";
$isax-archive-book: "\e91a";
$isax-archive-minus: "\e91b";
$isax-archive-slash: "\e91c";
$isax-archive-tick: "\e91d";
$isax-archive: "\e91e";
$isax-arrange-circle-2: "\e91f";
$isax-arrange-circle: "\e920";
$isax-arrange-square-2: "\e921";
$isax-arrange-square: "\e922";
$isax-arrow-2: "\e923";
$isax-arrow-3: "\e924";
$isax-arrow-bottom: "\e925";
$isax-arrow-circle-down: "\e926";
$isax-arrow-circle-left: "\e927";
$isax-arrow-circle-right: "\e928";
$isax-arrow-circle-up: "\e929";
$isax-arrow-down-1: "\e92a";
$isax-arrow-down-2: "\e92b";
$isax-arrow-down: "\e92c";
$isax-arrow-left-1: "\e92d";
$isax-arrow-left-2: "\e92e";
$isax-arrow-left-3: "\e92f";
$isax-arrow-left: "\e930";
$isax-arrow-right-1: "\e931";
$isax-arrow-right-2: "\e932";
$isax-arrow-right-3: "\e933";
$isax-arrow-right-4: "\e934";
$isax-arrow-right: "\e935";
$isax-arrow-square-down: "\e936";
$isax-arrow-square-left: "\e937";
$isax-arrow-square-up: "\e938";
$isax-arrow-square: "\e939";
$isax-arrow-swap-horizontal: "\e93a";
$isax-arrow-swap: "\e93b";
$isax-arrow-up-1: "\e93c";
$isax-arrow-up-2: "\e93d";
$isax-arrow-up-3: "\e93e";
$isax-arrow-up: "\e93f";
$isax-arrow: "\e940";
$isax-attach-circle: "\e941";
$isax-attach-square: "\e942";
$isax-audio-square: "\e943";
$isax-autobrightness: "\e944";
$isax-award: "\e945";
$isax-back-square: "\e946";
$isax-backward-5-seconds: "\e947";
$isax-backward-10-seconds: "\e948";
$isax-backward-15-seconds: "\e949";
$isax-backward-item: "\e94a";
$isax-backward: "\e94b";
$isax-bag-2: "\e94c";
$isax-bag-cross-1: "\e94d";
$isax-bag-cross: "\e94e";
$isax-bag-happy: "\e94f";
$isax-bag-tick-2: "\e950";
$isax-bag-tick: "\e951";
$isax-bag-timer: "\e952";
$isax-bag: "\e953";
$isax-bank: "\e954";
$isax-barcode: "\e955";
$isax-battery-3full: "\e956";
$isax-battery-charging: "\e957";
$isax-battery-disable: "\e958";
$isax-battery-empty-1: "\e959";
$isax-battery-empty: "\e95a";
$isax-battery-full: "\e95b";
$isax-bezier: "\e95c";
$isax-bill: "\e95d";
$isax-bitcoin-card: "\e95e";
$isax-bitcoin-convert: "\e95f";
$isax-bitcoin-refresh: "\e960";
$isax-blend-2: "\e961";
$isax-blend: "\e962";
$isax-bluetooth-2: "\e963";
$isax-bluetooth-circle: "\e964";
$isax-bluetooth-rectangle: "\e965";
$isax-bluetooth: "\e966";
$isax-blur: "\e967";
$isax-book-1: "\e968";
$isax-book-saved: "\e969";
$isax-book-square: "\e96a";
$isax-book: "\e96b";
$isax-bookmark-2: "\e96c";
$isax-bookmark: "\e96d";
$isax-box-1: "\e96e";
$isax-box-2: "\e96f";
$isax-box-add: "\e970";
$isax-box-remove: "\e971";
$isax-box-search: "\e972";
$isax-box-tick: "\e973";
$isax-box-time: "\e974";
$isax-box: "\e975";
$isax-briefcase: "\e976";
$isax-brifecase-cross: "\e977";
$isax-brifecase-tick: "\e978";
$isax-brifecase-timer: "\e979";
$isax-broom: "\e97a";
$isax-brush-1: "\e97b";
$isax-brush-2: "\e97c";
$isax-brush-3: "\e97d";
$isax-brush-4: "\e97e";
$isax-brush: "\e97f";
$isax-bubble: "\e980";
$isax-bucket-circle: "\e981";
$isax-bucket-square: "\e982";
$isax-bucket: "\e983";
$isax-building-3: "\e984";
$isax-building-4: "\e985";
$isax-building: "\e986";
$isax-buildings-2: "\e987";
$isax-buildings: "\e988";
$isax-buliding: "\e989";
$isax-bus: "\e98a";
$isax-buy-crypto: "\e98b";
$isax-cake: "\e98c";
$isax-calculator: "\e98d";
$isax-calendar-1: "\e98e";
$isax-calendar-2: "\e98f";
$isax-calendar-add: "\e990";
$isax-calendar-circle: "\e991";
$isax-calendar-edit: "\e992";
$isax-calendar-remove: "\e993";
$isax-calendar-search: "\e994";
$isax-calendar-tick: "\e995";
$isax-calendar: "\e996";
$isax-call-add: "\e997";
$isax-call-calling: "\e998";
$isax-call-incoming: "\e999";
$isax-call-minus: "\e99a";
$isax-call-outgoing: "\e99b";
$isax-call-received: "\e99c";
$isax-call-remove: "\e99d";
$isax-call-slash: "\e99e";
$isax-call: "\e99f";
$isax-camera-slash: "\e9a0";
$isax-camera: "\e9a1";
$isax-candle-2: "\e9a2";
$isax-candle: "\e9a3";
$isax-car: "\e9a4";
$isax-card-add: "\e9a5";
$isax-card-coin: "\e9a6";
$isax-card-edit: "\e9a7";
$isax-card-pos: "\e9a8";
$isax-card-receive: "\e9a9";
$isax-card-remove-1: "\e9aa";
$isax-card-remove: "\e9ab";
$isax-card-send: "\e9ac";
$isax-card-slash: "\e9ad";
$isax-card-tick-1: "\e9ae";
$isax-card-tick: "\e9af";
$isax-card: "\e9b0";
$isax-cards: "\e9b1";
$isax-category-2: "\e9b2";
$isax-category: "\e9b3";
$isax-cd: "\e9b4";
$isax-chart-1: "\e9b5";
$isax-chart-2: "\e9b6";
$isax-chart-3: "\e9b7";
$isax-chart-21: "\e9b8";
$isax-chart-fail: "\e9b9";
$isax-chart-square: "\e9ba";
$isax-chart-success: "\e9bb";
$isax-chart: "\e9bc";
$isax-check: "\e9bd";
$isax-chrome: "\e9be";
$isax-clipboard-close: "\e9bf";
$isax-clipboard-export: "\e9c0";
$isax-clipboard-import: "\e9c1";
$isax-clipboard-text: "\e9c2";
$isax-clipboard-tick: "\e9c3";
$isax-clipboard: "\e9c4";
$isax-clock-1: "\e9c5";
$isax-clock: "\e9c6";
$isax-close-circle: "\e9c7";
$isax-close-square: "\e9c8";
$isax-cloud-add: "\e9c9";
$isax-cloud-change: "\e9ca";
$isax-cloud-connection: "\e9cb";
$isax-cloud-cross: "\e9cc";
$isax-cloud-drizzle: "\e9cd";
$isax-cloud-fog: "\e9ce";
$isax-cloud-lightning: "\e9cf";
$isax-cloud-minus: "\e9d0";
$isax-cloud-notif: "\e9d1";
$isax-cloud-plus: "\e9d2";
$isax-cloud-remove: "\e9d3";
$isax-cloud-snow: "\e9d4";
$isax-cloud-sunny: "\e9d5";
$isax-cloud: "\e9d6";
$isax-code-1: "\e9d7";
$isax-code-circle: "\e9d8";
$isax-code: "\e9d9";
$isax-coffee: "\e9da";
$isax-coin-1: "\e9db";
$isax-coin: "\e9dc";
$isax-color-swatch: "\e9dd";
$isax-colorfilter: "\e9de";
$isax-colors-square: "\e9df";
$isax-command-square: "\e9e0";
$isax-command: "\e9e1";
$isax-component: "\e9e2";
$isax-computing: "\e9e3";
$isax-convert-3d-cube: "\e9e4";
$isax-convert-card: "\e9e5";
$isax-convert: "\e9e6";
$isax-convertshape-2: "\e9e7";
$isax-convertshape: "\e9e8";
$isax-copy-success: "\e9e9";
$isax-copy: "\e9ea";
$isax-copyright: "\e9eb";
$isax-courthouse: "\e9ec";
$isax-cpu-charge: "\e9ed";
$isax-cpu-setting: "\e9ee";
$isax-cpu: "\e9ef";
$isax-creative-commons: "\e9f0";
$isax-crop: "\e9f1";
$isax-crown-1: "\e9f2";
$isax-crown: "\e9f3";
$isax-cup: "\e9f4";
$isax-danger: "\e9f5";
$isax-data-2: "\e9f6";
$isax-data: "\e9f7";
$isax-designtools: "\e9f8";
$isax-device-message: "\e9f9";
$isax-devices-1: "\e9fa";
$isax-devices: "\e9fb";
$isax-diagram: "\e9fc";
$isax-diamonds: "\e9fd";
$isax-direct-down: "\e9fe";
$isax-direct-inbox: "\e9ff";
$isax-direct-left: "\ea00";
$isax-direct-normal: "\ea01";
$isax-direct-notification: "\ea02";
$isax-direct-right: "\ea03";
$isax-direct-send: "\ea04";
$isax-direct-up: "\ea05";
$isax-direct: "\ea06";
$isax-directbox-default: "\ea07";
$isax-directbox-notif: "\ea08";
$isax-directbox-receive: "\ea09";
$isax-directbox-send: "\ea0a";
$isax-discount-circle: "\ea0b";
$isax-discount-shape: "\ea0c";
$isax-discover-1: "\ea0d";
$isax-discover: "\ea0e";
$isax-dislike: "\ea0f";
$isax-document-1: "\ea10";
$isax-document-cloud: "\ea11";
$isax-document-code-2: "\ea12";
$isax-document-code: "\ea13";
$isax-document-copy: "\ea14";
$isax-document-download: "\ea15";
$isax-document-favorite: "\ea16";
$isax-document-filter: "\ea17";
$isax-document-forward: "\ea18";
$isax-document-like: "\ea19";
$isax-document-normal: "\ea1a";
$isax-document-previous: "\ea1b";
$isax-document-sketch: "\ea1c";
$isax-document-text-1: "\ea1d";
$isax-document-text: "\ea1e";
$isax-document-upload: "\ea1f";
$isax-document: "\ea20";
$isax-dollar-circle: "\ea21";
$isax-dollar-square: "\ea22";
$isax-driver-2: "\ea23";
$isax-driver-refresh: "\ea24";
$isax-driver: "\ea25";
$isax-driving: "\ea26";
$isax-edit-2: "\ea27";
$isax-edit: "\ea28";
$isax-electricity: "\ea29";
$isax-element-2: "\ea2a";
$isax-element-3: "\ea2b";
$isax-element-4: "\ea2c";
$isax-element-equal: "\ea2d";
$isax-element-plus: "\ea2e";
$isax-emoji-happy: "\ea2f";
$isax-emoji-normal: "\ea30";
$isax-emoji-sad: "\ea31";
$isax-empty-wallet-add: "\ea32";
$isax-empty-wallet-change: "\ea33";
$isax-empty-wallet-remove: "\ea34";
$isax-empty-wallet-tick: "\ea35";
$isax-empty-wallet-time: "\ea36";
$isax-empty-wallet: "\ea37";
$isax-eraser-1: "\ea38";
$isax-eraser: "\ea39";
$isax-export-1: "\ea3a";
$isax-export-2: "\ea3b";
$isax-export-3: "\ea3c";
$isax-export: "\ea3d";
$isax-external-drive: "\ea3e";
$isax-eye-slash: "\ea3f";
$isax-eye: "\ea40";
$isax-fatrows: "\ea41";
$isax-favorite-chart: "\ea42";
$isax-filter-add: "\ea43";
$isax-filter-edit: "\ea44";
$isax-filter-remove: "\ea45";
$isax-filter-search: "\ea46";
$isax-filter-square: "\ea47";
$isax-filter-tick: "\ea48";
$isax-filter: "\ea49";
$isax-finger-cricle: "\ea4a";
$isax-finger-scan: "\ea4b";
$isax-firstline: "\ea4c";
$isax-flag-2: "\ea4d";
$isax-flag: "\ea4e";
$isax-flash-1: "\ea4f";
$isax-flash-circle-1: "\ea50";
$isax-flash-circle: "\ea51";
$isax-flash-slash: "\ea52";
$isax-flash: "\ea53";
$isax-folder-2: "\ea54";
$isax-folder-add: "\ea55";
$isax-folder-cloud: "\ea56";
$isax-folder-connection: "\ea57";
$isax-folder-cross: "\ea58";
$isax-folder-favorite: "\ea59";
$isax-folder-minus: "\ea5a";
$isax-folder-open: "\ea5b";
$isax-folder: "\ea5c";
$isax-forbidden-2: "\ea5d";
$isax-forbidden: "\ea5e";
$isax-format-circle: "\ea5f";
$isax-format-square: "\ea60";
$isax-forward-5-seconds: "\ea61";
$isax-forward-10-seconds: "\ea62";
$isax-forward-15-seconds: "\ea63";
$isax-forward-item: "\ea64";
$isax-forward-square: "\ea65";
$isax-forward: "\ea66";
$isax-frame-1: "\ea67";
$isax-frame-2: "\ea68";
$isax-frame-3: "\ea69";
$isax-frame-4: "\ea6a";
$isax-frame: "\ea6b";
$isax-gallery-add: "\ea6c";
$isax-gallery-edit: "\ea6d";
$isax-gallery-export: "\ea6e";
$isax-gallery-favorite: "\ea6f";
$isax-gallery-import: "\ea70";
$isax-gallery-remove: "\ea71";
$isax-gallery-slash: "\ea72";
$isax-gallery-tick: "\ea73";
$isax-gallery: "\ea74";
$isax-game: "\ea75";
$isax-gameboy: "\ea76";
$isax-gas-station: "\ea77";
$isax-gemini-2: "\ea78";
$isax-gemini: "\ea79";
$isax-ghost: "\ea7a";
$isax-gift: "\ea7b";
$isax-glass-1: "\ea7c";
$isax-glass: "\ea7d";
$isax-global-edit: "\ea7e";
$isax-global-refresh: "\ea7f";
$isax-global-search: "\ea80";
$isax-global: "\ea81";
$isax-gps-slash: "\ea82";
$isax-gps: "\ea83";
$isax-grammerly: "\ea84";
$isax-graph: "\ea85";
$isax-grid-1: "\ea86";
$isax-grid-2: "\ea87";
$isax-grid-3: "\ea88";
$isax-grid-4: "\ea89";
$isax-grid-5: "\ea8a";
$isax-grid-6: "\ea8b";
$isax-grid-7: "\ea8c";
$isax-grid-8: "\ea8d";
$isax-grid-9: "\ea8e";
$isax-grid-edit: "\ea8f";
$isax-grid-eraser: "\ea90";
$isax-grid-lock: "\ea91";
$isax-happyemoji: "\ea92";
$isax-hashtag-1: "\ea93";
$isax-hashtag-down: "\ea94";
$isax-hashtag-up: "\ea95";
$isax-hashtag: "\ea96";
$isax-headphone: "\ea97";
$isax-headphones: "\ea98";
$isax-health: "\ea99";
$isax-heart-add: "\ea9a";
$isax-heart-circle: "\ea9b";
$isax-heart-edit: "\ea9c";
$isax-heart-remove: "\ea9d";
$isax-heart-search: "\ea9e";
$isax-heart-slash: "\ea9f";
$isax-heart-tick: "\eaa0";
$isax-heart: "\eaa1";
$isax-hierarchy-2: "\eaa2";
$isax-hierarchy-3: "\eaa3";
$isax-hierarchy-square-2: "\eaa4";
$isax-hierarchy-square-3: "\eaa5";
$isax-hierarchy-square: "\eaa6";
$isax-hierarchy: "\eaa7";
$isax-home-1: "\eaa8";
$isax-home-2: "\eaa9";
$isax-home-hashtag: "\eaaa";
$isax-home-trend-down: "\eaab";
$isax-home-trend-up: "\eaac";
$isax-home-wifi: "\eaad";
$isax-home: "\eaae";
$isax-hospital: "\eaaf";
$isax-house-2: "\eab0";
$isax-house: "\eab1";
$isax-icon: "\eab2";
$isax-image: "\eab3";
$isax-import-1: "\eab4";
$isax-import-2: "\eab5";
$isax-import: "\eab6";
$isax-info-circle: "\eab7";
$isax-information: "\eab8";
$isax-instagram: "\eab9";
$isax-judge: "\eaba";
$isax-kanban: "\eabb";
$isax-key-square: "\eabc";
$isax-key: "\eabd";
$isax-keyboard-open: "\eabe";
$isax-keyboard: "\eabf";
$isax-lamp-1: "\eac0";
$isax-lamp-charge: "\eac1";
$isax-lamp-on: "\eac2";
$isax-lamp-slash: "\eac3";
$isax-lamp: "\eac4";
$isax-language-circle: "\eac5";
$isax-language-square: "\eac6";
$isax-layer: "\eac7";
$isax-level: "\eac8";
$isax-lifebuoy: "\eac9";
$isax-like-1: "\eaca";
$isax-like-dislike: "\eacb";
$isax-like-shapes: "\eacc";
$isax-like-tag: "\eacd";
$isax-like: "\eace";
$isax-link-1: "\eacf";
$isax-link-2: "\ead0";
$isax-link-21: "\ead1";
$isax-link-circle: "\ead2";
$isax-link-square: "\ead3";
$isax-link: "\ead4";
$isax-location-add: "\ead5";
$isax-location-cross: "\ead6";
$isax-location-minus: "\ead7";
$isax-location-slash: "\ead8";
$isax-location-tick: "\ead9";
$isax-location: "\eada";
$isax-lock-1: "\eadb";
$isax-lock-circle: "\eadc";
$isax-lock-slash: "\eadd";
$isax-lock: "\eade";
$isax-login-1: "\eadf";
$isax-login: "\eae0";
$isax-logout-1: "\eae1";
$isax-logout: "\eae2";
$isax-lovely: "\eae3";
$isax-magic-star: "\eae4";
$isax-magicpen: "\eae5";
$isax-main-component: "\eae6";
$isax-man: "\eae7";
$isax-map-1: "\eae8";
$isax-map: "\eae9";
$isax-mask-1: "\eaea";
$isax-mask-2: "\eaeb";
$isax-mask: "\eaec";
$isax-math: "\eaed";
$isax-maximize-1: "\eaee";
$isax-maximize-2: "\eaef";
$isax-maximize-3: "\eaf0";
$isax-maximize-4: "\eaf1";
$isax-maximize-21: "\eaf2";
$isax-maximize-circle: "\eaf3";
$isax-maximize: "\eaf4";
$isax-medal-star: "\eaf5";
$isax-medal: "\eaf6";
$isax-menu-1: "\eaf7";
$isax-menu-board: "\eaf8";
$isax-menu: "\eaf9";
$isax-message-2: "\eafa";
$isax-message-add-1: "\eafb";
$isax-message-add: "\eafc";
$isax-message-circle: "\eafd";
$isax-message-edit: "\eafe";
$isax-message-favorite: "\eaff";
$isax-message-minus: "\eb00";
$isax-message-notif: "\eb01";
$isax-message-programming: "\eb02";
$isax-message-question: "\eb03";
$isax-message-remove: "\eb04";
$isax-message-search: "\eb05";
$isax-message-square: "\eb06";
$isax-message-text-1: "\eb07";
$isax-message-text: "\eb08";
$isax-message-tick: "\eb09";
$isax-message-time: "\eb0a";
$isax-message: "\eb0b";
$isax-messages-1: "\eb0c";
$isax-messages-2: "\eb0d";
$isax-messages-3: "\eb0e";
$isax-messages: "\eb0f";
$isax-microphone-2: "\eb10";
$isax-microphone-slash-1: "\eb11";
$isax-microphone-slash: "\eb12";
$isax-microphone: "\eb13";
$isax-microscope: "\eb14";
$isax-milk: "\eb15";
$isax-mini-music-sqaure: "\eb16";
$isax-minus-cirlce: "\eb17";
$isax-minus-square: "\eb18";
$isax-minus: "\eb19";
$isax-mirror: "\eb1a";
$isax-mirroring-screen: "\eb1b";
$isax-mobile-programming: "\eb1c";
$isax-mobile: "\eb1d";
$isax-money-2: "\eb1e";
$isax-money-3: "\eb1f";
$isax-money-4: "\eb20";
$isax-money-add: "\eb21";
$isax-money-change: "\eb22";
$isax-money-forbidden: "\eb23";
$isax-money-recive: "\eb24";
$isax-money-remove: "\eb25";
$isax-money-send: "\eb26";
$isax-money-tick: "\eb27";
$isax-money-time: "\eb28";
$isax-money: "\eb29";
$isax-moneys: "\eb2a";
$isax-monitor-mobbile: "\eb2b";
$isax-monitor-recorder: "\eb2c";
$isax-monitor: "\eb2d";
$isax-moon: "\eb2e";
$isax-more-2: "\eb2f";
$isax-more-circle: "\eb30";
$isax-more-square: "\eb31";
$isax-more: "\eb32";
$isax-mouse-1: "\eb33";
$isax-mouse-circle: "\eb34";
$isax-mouse-square: "\eb35";
$isax-mouse: "\eb36";
$isax-music-circle: "\eb37";
$isax-music-dashboard: "\eb38";
$isax-music-filter: "\eb39";
$isax-music-library-2: "\eb3a";
$isax-music-play: "\eb3b";
$isax-music-playlist: "\eb3c";
$isax-music-square-add: "\eb3d";
$isax-music-square-remove: "\eb3e";
$isax-music-square-search: "\eb3f";
$isax-music-square: "\eb40";
$isax-music: "\eb41";
$isax-musicnote: "\eb42";
$isax-next: "\eb43";
$isax-note-1: "\eb44";
$isax-note-2: "\eb45";
$isax-note-21: "\eb46";
$isax-note-add: "\eb47";
$isax-note-favorite: "\eb48";
$isax-note-remove: "\eb49";
$isax-note-square: "\eb4a";
$isax-note-text: "\eb4b";
$isax-note: "\eb4c";
$isax-notification-1: "\eb4d";
$isax-notification-bing: "\eb4e";
$isax-notification-circle: "\eb4f";
$isax-notification-favorite: "\eb50";
$isax-notification-status: "\eb51";
$isax-notification: "\eb52";
$isax-omega-circle: "\eb53";
$isax-omega-square: "\eb54";
$isax-paintbucket: "\eb55";
$isax-paperclip-2: "\eb56";
$isax-paperclip: "\eb57";
$isax-password-check: "\eb58";
$isax-path-2: "\eb59";
$isax-path-square: "\eb5a";
$isax-path: "\eb5b";
$isax-pause-circle: "\eb5c";
$isax-pause: "\eb5d";
$isax-pen-add: "\eb5e";
$isax-pen-close: "\eb5f";
$isax-pen-remove: "\eb60";
$isax-pen-tool-2: "\eb61";
$isax-pen-tool: "\eb62";
$isax-people: "\eb63";
$isax-percentage-circle: "\eb64";
$isax-percentage-square: "\eb65";
$isax-personalcard: "\eb66";
$isax-pet: "\eb67";
$isax-pharagraphspacing: "\eb68";
$isax-picture-frame: "\eb69";
$isax-play-add: "\eb6a";
$isax-play-circle: "\eb6b";
$isax-play-cricle: "\eb6c";
$isax-play-remove: "\eb6d";
$isax-play: "\eb6e";
$isax-presention-chart: "\eb6f";
$isax-previous: "\eb70";
$isax-printer-slash: "\eb71";
$isax-printer: "\eb72";
$isax-profile-2user: "\eb73";
$isax-profile-add: "\eb74";
$isax-profile-circle: "\eb75";
$isax-profile-delete: "\eb76";
$isax-profile-remove: "\eb77";
$isax-profile-tick: "\eb78";
$isax-programming-arrow: "\eb79";
$isax-programming-arrows: "\eb7a";
$isax-quote-down-circle: "\eb7b";
$isax-quote-down-square: "\eb7c";
$isax-quote-down: "\eb7d";
$isax-quote-up-circle: "\eb7e";
$isax-quote-up-square: "\eb7f";
$isax-quote-up: "\eb80";
$isax-radar-1: "\eb81";
$isax-radar-2: "\eb82";
$isax-radar: "\eb83";
$isax-radio: "\eb84";
$isax-ram-2: "\eb85";
$isax-ram: "\eb86";
$isax-ranking-1: "\eb87";
$isax-ranking: "\eb88";
$isax-receipt-1: "\eb89";
$isax-receipt-2-1: "\eb8a";
$isax-receipt-2: "\eb8b";
$isax-receipt-add: "\eb8c";
$isax-receipt-discount: "\eb8d";
$isax-receipt-disscount: "\eb8e";
$isax-receipt-edit: "\eb8f";
$isax-receipt-item: "\eb90";
$isax-receipt-minus: "\eb91";
$isax-receipt-search: "\eb92";
$isax-receipt-square: "\eb93";
$isax-receipt-text: "\eb94";
$isax-receipt: "\eb95";
$isax-receive-square-2: "\eb96";
$isax-receive-square: "\eb97";
$isax-received: "\eb98";
$isax-record-circle: "\eb99";
$isax-record: "\eb9a";
$isax-recovery-convert: "\eb9b";
$isax-redo: "\eb9c";
$isax-refresh-2: "\eb9d";
$isax-refresh-circle: "\eb9e";
$isax-refresh-left-square: "\eb9f";
$isax-refresh-right-square: "\eba0";
$isax-refresh-square-2: "\eba1";
$isax-refresh: "\eba2";
$isax-repeat-circle: "\eba3";
$isax-repeat: "\eba4";
$isax-repeate-music: "\eba5";
$isax-repeate-one: "\eba6";
$isax-reserve: "\eba7";
$isax-rotate-left-1: "\eba8";
$isax-rotate-left: "\eba9";
$isax-rotate-right-1: "\ebaa";
$isax-rotate-right: "\ebab";
$isax-route-square: "\ebac";
$isax-routing-2: "\ebad";
$isax-routing: "\ebae";
$isax-row-horizontal: "\ebaf";
$isax-row-vertical: "\ebb0";
$isax-ruler: "\ebb1";
$isax-rulerpen: "\ebb2";
$isax-safe-home: "\ebb3";
$isax-sagittarius: "\ebb4";
$isax-save-2: "\ebb5";
$isax-save-add: "\ebb6";
$isax-save-minus: "\ebb7";
$isax-save-remove: "\ebb8";
$isax-scan-barcode: "\ebb9";
$isax-scan: "\ebba";
$isax-scanner: "\ebbb";
$isax-scanning: "\ebbc";
$isax-scissor-1: "\ebbd";
$isax-scissor: "\ebbe";
$isax-screenmirroring: "\ebbf";
$isax-scroll: "\ebc0";
$isax-search-favorite-1: "\ebc1";
$isax-search-favorite: "\ebc2";
$isax-search-normal-1: "\ebc3";
$isax-search-normal: "\ebc4";
$isax-search-status-1: "\ebc5";
$isax-search-status: "\ebc6";
$isax-search-zoom-in-1: "\ebc7";
$isax-search-zoom-in: "\ebc8";
$isax-search-zoom-out-1: "\ebc9";
$isax-search-zoom-out: "\ebca";
$isax-security-card: "\ebcb";
$isax-security-safe: "\ebcc";
$isax-security-time: "\ebcd";
$isax-security-user: "\ebce";
$isax-security: "\ebcf";
$isax-send-1: "\ebd0";
$isax-send-2: "\ebd1";
$isax-send-sqaure-2: "\ebd2";
$isax-send-square: "\ebd3";
$isax-send: "\ebd4";
$isax-setting-2: "\ebd5";
$isax-setting-3: "\ebd6";
$isax-setting-4: "\ebd7";
$isax-setting-5: "\ebd8";
$isax-setting: "\ebd9";
$isax-settings: "\ebda";
$isax-shapes-1: "\ebdb";
$isax-shapes: "\ebdc";
$isax-share: "\ebdd";
$isax-shield-cross: "\ebde";
$isax-shield-search: "\ebdf";
$isax-shield-slash: "\ebe0";
$isax-shield-tick: "\ebe1";
$isax-shield: "\ebe2";
$isax-ship: "\ebe3";
$isax-shop-add: "\ebe4";
$isax-shop-remove: "\ebe5";
$isax-shop: "\ebe6";
$isax-shopping-bag: "\ebe7";
$isax-shopping-cart: "\ebe8";
$isax-shuffle: "\ebe9";
$isax-sidebar-bottom: "\ebea";
$isax-sidebar-left: "\ebeb";
$isax-sidebar-right: "\ebec";
$isax-sidebar-top: "\ebed";
$isax-signpost: "\ebee";
$isax-simcard-1: "\ebef";
$isax-simcard-2: "\ebf0";
$isax-simcard: "\ebf1";
$isax-size: "\ebf2";
$isax-slash: "\ebf3";
$isax-slider-horizontal-1: "\ebf4";
$isax-slider-horizontal: "\ebf5";
$isax-slider-vertical-1: "\ebf6";
$isax-slider-vertical: "\ebf7";
$isax-slider: "\ebf8";
$isax-smallcaps: "\ebf9";
$isax-smart-car: "\ebfa";
$isax-smart-home: "\ebfb";
$isax-smileys: "\ebfc";
$isax-sms-edit: "\ebfd";
$isax-sms-notification: "\ebfe";
$isax-sms-search: "\ebff";
$isax-sms-star: "\ec00";
$isax-sms-tracking: "\ec01";
$isax-sms: "\ec02";
$isax-sort: "\ec03";
$isax-sound: "\ec04";
$isax-speaker: "\ec05";
$isax-speedometer: "\ec06";
$isax-star-1: "\ec07";
$isax-star-slash: "\ec08";
$isax-star: "\ec09";
$isax-status-up: "\ec0a";
$isax-status: "\ec0b";
$isax-sticker: "\ec0c";
$isax-stickynote: "\ec0d";
$isax-stop-circle: "\ec0e";
$isax-stop: "\ec0f";
$isax-story: "\ec10";
$isax-strongbox-2: "\ec11";
$isax-strongbox: "\ec12";
$isax-subtitle: "\ec13";
$isax-sun-1: "\ec14";
$isax-sun-fog: "\ec15";
$isax-sun: "\ec16";
$isax-tag-2: "\ec17";
$isax-tag-cross: "\ec18";
$isax-tag-right: "\ec19";
$isax-tag-user: "\ec1a";
$isax-tag: "\ec1b";
$isax-task-square: "\ec1c";
$isax-task: "\ec1d";
$isax-teacher: "\ec1e";
$isax-text-block: "\ec1f";
$isax-text-bold: "\ec20";
$isax-text-italic: "\ec21";
$isax-text-underline: "\ec22";
$isax-text: "\ec23";
$isax-textalign-center: "\ec24";
$isax-textalign-justifycenter: "\ec25";
$isax-textalign-justifyleft: "\ec26";
$isax-textalign-justifyright: "\ec27";
$isax-textalign-left: "\ec28";
$isax-textalign-right: "\ec29";
$isax-tick-circle: "\ec2a";
$isax-tick-square: "\ec2b";
$isax-ticket-2: "\ec2c";
$isax-ticket-discount: "\ec2d";
$isax-ticket-expired: "\ec2e";
$isax-ticket-star: "\ec2f";
$isax-ticket: "\ec30";
$isax-timer-1: "\ec31";
$isax-timer-pause: "\ec32";
$isax-timer-start: "\ec33";
$isax-timer: "\ec34";
$isax-toggle-off-circle: "\ec35";
$isax-toggle-off: "\ec36";
$isax-toggle-on-circle: "\ec37";
$isax-toggle-on: "\ec38";
$isax-trade: "\ec39";
$isax-transaction-minus: "\ec3a";
$isax-translate: "\ec3b";
$isax-trash: "\ec3c";
$isax-tree: "\ec3d";
$isax-trend-down: "\ec3e";
$isax-trend-up: "\ec3f";
$isax-triangle: "\ec40";
$isax-truck-fast: "\ec41";
$isax-truck-remove: "\ec42";
$isax-truck-tick: "\ec43";
$isax-truck-time: "\ec44";
$isax-truck: "\ec45";
$isax-trush-square: "\ec46";
$isax-undo: "\ec47";
$isax-unlimited: "\ec48";
$isax-unlock: "\ec49";
$isax-user-add: "\ec4a";
$isax-user-cirlce-add: "\ec4b";
$isax-user-edit: "\ec4c";
$isax-user-minus: "\ec4d";
$isax-user-octagon: "\ec4e";
$isax-user-remove: "\ec4f";
$isax-user-search: "\ec50";
$isax-user-square: "\ec51";
$isax-user-tag: "\ec52";
$isax-user-tick: "\ec53";
$isax-user: "\ec54";
$isax-verify: "\ec55";
$isax-video-add: "\ec56";
$isax-video-circle: "\ec57";
$isax-video-horizontal: "\ec58";
$isax-video-octagon: "\ec59";
$isax-video-play: "\ec5a";
$isax-video-remove: "\ec5b";
$isax-video-slash: "\ec5c";
$isax-video-square: "\ec5d";
$isax-video-tick: "\ec5e";
$isax-video-time: "\ec5f";
$isax-video-vertical: "\ec60";
$isax-video: "\ec61";
$isax-voice-cricle: "\ec62";
$isax-voice-square: "\ec63";
$isax-volume-cross: "\ec64";
$isax-volume-high: "\ec65";
$isax-volume-low-1: "\ec66";
$isax-volume-low: "\ec67";
$isax-volume-mute: "\ec68";
$isax-volume-slash: "\ec69";
$isax-volume-up: "\ec6a";
$isax-wallet-1: "\ec6b";
$isax-wallet-2: "\ec6c";
$isax-wallet-3: "\ec6d";
$isax-wallet-add-1: "\ec6e";
$isax-wallet-add: "\ec6f";
$isax-wallet-check: "\ec70";
$isax-wallet-minus: "\ec71";
$isax-wallet-money: "\ec72";
$isax-wallet-remove: "\ec73";
$isax-wallet-search: "\ec74";
$isax-wallet: "\ec75";
$isax-warning-2: "\ec76";
$isax-watch-status: "\ec77";
$isax-watch: "\ec78";
$isax-weight-1: "\ec79";
$isax-weight: "\ec7a";
$isax-wifi-square: "\ec7b";
$isax-wifi: "\ec7c";
$isax-wind-2: "\ec7d";
$isax-wind: "\ec7e";
$isax-woman: "\ec7f";

