

$font-prefix: '';
$font-config-d: (
  'd1': ( font-size:5rem, line-height: 6rem, ),
  'd2': ( font-size: 4.5rem, line-height: 5.4rem, ),
  'd3': ( font-size: 4rem, line-height: 4.8rem, ),
  'd4': ( font-size: 3.5rem, line-height: 4.2rem, ),
  'd5': ( font-size: 3rem, line-height: 3.6rem, ),
  'd6': ( font-size: 2.625rem, line-height: 3.15rem, ),
);
$font-config-h: (
  h1: ( font-size: 24px, line-height: 30px, ),
  h2: ( font-size: 20px, line-height: 24px, ),
  h3: ( font-size: 18px, line-height: 22px, ),
  h4: ( font-size: 14px, line-height: 18px, ),
  h5: ( font-size: 12px, line-height: 16px, ),
  h6: ( font-size: 10px, line-height: 14px, ),
);
$font-config-body: (
  'p-lg': ( font-size: 16px, line-height: 18px),
  'p-md': ( font-size: 14px, line-height: 16px, ),
  'p-md-c': ( font-size: 14px, line-height: 24px, ),
  'p-sm': ( font-size: 12px, line-height: 14px, ),
  'p-xs': ( font-size: 10px, line-height: 14px, ),
  'p-xxs': ( font-size: 8px, line-height: 10px, ),
  'b-md': ( font-size: 16px, line-height: 24px, ),
  'b-lg': ( font-size: 16px, line-height: 24px, ),
  'b-sm': ( font-size: 14px, line-height: 18px, ),
  'b-md-u': ( font-size: 16px, line-height: 24px, ),
  'b-lg-u': ( font-size: 16px, line-height: 24px, ),
  'b-sm-u': ( font-size: 14px, line-height: 18px, ),
);

%d {
  margin: 0;
  font-style: normal;
  letter-spacing: -0.03rem;
}

%h {
  margin: 0;
  font-style: normal;
  letter-spacing: -0.02rem;
}

@each $selector, $value in $font-config-d {
  .#{$selector}, %#{$selector} {
    @extend %d;
    @each $prop-name, $prop-value in $value {
      --#{$font-prefix}-#{$selector}-#{$prop-name}: #{$prop-value};
      #{$prop-name}: var(--#{$font-prefix}-#{$selector}-#{$prop-name});
    }
  }
}
@each $selector, $value in $font-config-h {
  #{$selector}, .#{$selector}, %#{$selector} {
    @extend %h;
    @each $prop-name, $prop-value in $value {
      --#{$font-prefix}-#{$selector}-#{$prop-name}: #{$prop-value};
      #{$prop-name}: var(--#{$font-prefix}-#{$selector}-#{$prop-name});
    }
  }
}
@each $selector, $value in $font-config-body {
  .#{$selector}, %#{$selector} {
    @each $prop-name, $prop-value in $value {
      --#{$font-prefix}-#{$selector}-#{$prop-name}: #{$prop-value};
      #{$prop-name}: var(--#{$font-prefix}-#{$selector}-#{$prop-name});
    }
  }
}
