@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    // @apply box-content;
  }
}

@import 'variables';
@import 'colors';
@import 'containers';
@import 'fonts';
@import 'icons';
@import 'buttons.scss';
@import 'inputs.scss';
@import 'selectbox.scss';
@import 'logo.scss';
@import "element-ui.scss";



  // @import 'layers.scss';
body {
  background-color: #ffffff;
  font-family: var(--font-family);
}

[v-cloak] {
  display: none;
  border: 1px solid red;
}
