$icomoon-font-family: "iconsax" !default;
$icomoon-font-path: "fonts" !default;

$isax-message-question: unquote('"\\ec80"');
$isax-driver-refresh: unquote('"\\eba1"');
$isax-refresh-square-2: unquote('"\\e900"');
$isax-d-cube-scan: unquote('"\\e901"');
$isax-d-rotate: unquote('"\\e902"');
$isax-d-square: unquote('"\\e903"');
$isax-dcube: unquote('"\\e904"');
$isax-square: unquote('"\\e905"');
$isax-support: unquote('"\\e906"');
$isax-activity: unquote('"\\e907"');
$isax-add-circle: unquote('"\\e908"');
$isax-add-square: unquote('"\\e909"');
$isax-add: unquote('"\\e90a"');
$isax-additem: unquote('"\\e90b"');
$isax-airdrop: unquote('"\\e90c"');
$isax-airplane-square: unquote('"\\e90d"');
$isax-airplane: unquote('"\\e90e"');
$isax-airpod: unquote('"\\e90f"');
$isax-airpods: unquote('"\\e910"');
$isax-alarm: unquote('"\\e911"');
$isax-align-bottom: unquote('"\\e912"');
$isax-align-horizontally: unquote('"\\e913"');
$isax-align-left: unquote('"\\e914"');
$isax-align-right: unquote('"\\e915"');
$isax-align-vertically: unquote('"\\e916"');
$isax-aquarius: unquote('"\\e917"');
$isax-archive-1: unquote('"\\e918"');
$isax-archive-2: unquote('"\\e919"');
$isax-archive-add: unquote('"\\e91a"');
$isax-archive-book: unquote('"\\e91b"');
$isax-archive-minus: unquote('"\\e91c"');
$isax-archive-slash: unquote('"\\e91d"');
$isax-archive-tick: unquote('"\\e91e"');
$isax-archive: unquote('"\\e91f"');
$isax-arrange-circle-2: unquote('"\\e920"');
$isax-arrange-circle: unquote('"\\e921"');
$isax-arrange-square-2: unquote('"\\e922"');
$isax-arrange-square: unquote('"\\e923"');
$isax-arrow-2: unquote('"\\e924"');
$isax-arrow-3: unquote('"\\e925"');
$isax-arrow-bottom: unquote('"\\e926"');
$isax-arrow-circle-down: unquote('"\\e927"');
$isax-arrow-circle-left: unquote('"\\e928"');
$isax-arrow-circle-right: unquote('"\\e929"');
$isax-arrow-circle-up: unquote('"\\e92a"');
$isax-arrow-down-1: unquote('"\\e92b"');
$isax-arrow-down-2: unquote('"\\e92c"');
$isax-arrow-down: unquote('"\\e92d"');
$isax-arrow-left-1: unquote('"\\e92e"');
$isax-arrow-left-2: unquote('"\\e92f"');
$isax-arrow-left-3: unquote('"\\e930"');
$isax-arrow-left: unquote('"\\e931"');
$isax-arrow-right-1: unquote('"\\e932"');
$isax-arrow-right-2: unquote('"\\e933"');
$isax-arrow-right-3: unquote('"\\e934"');
$isax-arrow-right-4: unquote('"\\e935"');
$isax-arrow-right: unquote('"\\e936"');
$isax-arrow-square-down: unquote('"\\e937"');
$isax-arrow-square-left: unquote('"\\e938"');
$isax-arrow-square-up: unquote('"\\e939"');
$isax-arrow-square: unquote('"\\e93a"');
$isax-arrow-swap-horizontal: unquote('"\\e93b"');
$isax-arrow-swap: unquote('"\\e93c"');
$isax-arrow-up-1: unquote('"\\e93d"');
$isax-arrow-up-2: unquote('"\\e93e"');
$isax-arrow-up-3: unquote('"\\e93f"');
$isax-arrow-up: unquote('"\\e940"');
$isax-arrow: unquote('"\\e941"');
$isax-attach-circle: unquote('"\\e942"');
$isax-attach-square: unquote('"\\e943"');
$isax-audio-square: unquote('"\\e944"');
$isax-autobrightness: unquote('"\\e945"');
$isax-award: unquote('"\\e946"');
$isax-back-square: unquote('"\\e947"');
$isax-backward-5-seconds: unquote('"\\e948"');
$isax-backward-10-seconds: unquote('"\\e949"');
$isax-backward-15-seconds: unquote('"\\e94a"');
$isax-backward-item: unquote('"\\e94b"');
$isax-backward: unquote('"\\e94c"');
$isax-bag-2: unquote('"\\e94d"');
$isax-bag-cross-1: unquote('"\\e94e"');
$isax-bag-cross: unquote('"\\e94f"');
$isax-bag-happy: unquote('"\\e950"');
$isax-bag-tick-2: unquote('"\\e951"');
$isax-bag-tick: unquote('"\\e952"');
$isax-bag-timer: unquote('"\\e953"');
$isax-bag: unquote('"\\e954"');
$isax-bank: unquote('"\\e955"');
$isax-barcode: unquote('"\\e956"');
$isax-battery-3full: unquote('"\\e957"');
$isax-battery-charging: unquote('"\\e958"');
$isax-battery-disable: unquote('"\\e959"');
$isax-battery-empty-1: unquote('"\\e95a"');
$isax-battery-empty: unquote('"\\e95b"');
$isax-battery-full: unquote('"\\e95c"');
$isax-bezier: unquote('"\\e95d"');
$isax-bill: unquote('"\\e95e"');
$isax-bitcoin-card: unquote('"\\e95f"');
$isax-bitcoin-convert: unquote('"\\e960"');
$isax-bitcoin-refresh: unquote('"\\e961"');
$isax-blend-2: unquote('"\\e962"');
$isax-blend: unquote('"\\e963"');
$isax-bluetooth-2: unquote('"\\e964"');
$isax-bluetooth-circle: unquote('"\\e965"');
$isax-bluetooth-rectangle: unquote('"\\e966"');
$isax-bluetooth: unquote('"\\e967"');
$isax-blur: unquote('"\\e968"');
$isax-book-1: unquote('"\\e969"');
$isax-book-saved: unquote('"\\e96a"');
$isax-book-square: unquote('"\\e96b"');
$isax-book: unquote('"\\e96c"');
$isax-bookmark-2: unquote('"\\e96d"');
$isax-bookmark: unquote('"\\e96e"');
$isax-box-1: unquote('"\\e96f"');
$isax-box-2: unquote('"\\e970"');
$isax-box-add: unquote('"\\e971"');
$isax-box-remove: unquote('"\\e972"');
$isax-box-search: unquote('"\\e973"');
$isax-box-tick: unquote('"\\e974"');
$isax-box-time: unquote('"\\e975"');
$isax-box: unquote('"\\e976"');
$isax-briefcase: unquote('"\\e977"');
$isax-brifecase-cross: unquote('"\\e978"');
$isax-brifecase-tick: unquote('"\\e979"');
$isax-brifecase-timer: unquote('"\\e97a"');
$isax-broom: unquote('"\\e97b"');
$isax-brush-1: unquote('"\\e97c"');
$isax-brush-2: unquote('"\\e97d"');
$isax-brush-3: unquote('"\\e97e"');
$isax-brush-4: unquote('"\\e97f"');
$isax-brush: unquote('"\\e980"');
$isax-bubble: unquote('"\\e981"');
$isax-bucket-circle: unquote('"\\e982"');
$isax-bucket-square: unquote('"\\e983"');
$isax-bucket: unquote('"\\e984"');
$isax-building-3: unquote('"\\e985"');
$isax-building-4: unquote('"\\e986"');
$isax-building: unquote('"\\e987"');
$isax-buildings-2: unquote('"\\e988"');
$isax-buildings: unquote('"\\e989"');
$isax-buliding: unquote('"\\e98a"');
$isax-bus: unquote('"\\e98b"');
$isax-buy-crypto: unquote('"\\e98c"');
$isax-cake: unquote('"\\e98d"');
$isax-calculator: unquote('"\\e98e"');
$isax-calendar-1: unquote('"\\e98f"');
$isax-calendar-2: unquote('"\\e990"');
$isax-calendar-add: unquote('"\\e991"');
$isax-calendar-circle: unquote('"\\e992"');
$isax-calendar-edit: unquote('"\\e993"');
$isax-calendar-remove: unquote('"\\e994"');
$isax-calendar-search: unquote('"\\e995"');
$isax-calendar-tick: unquote('"\\e996"');
$isax-calendar: unquote('"\\e997"');
$isax-call-add: unquote('"\\e998"');
$isax-call-calling: unquote('"\\e999"');
$isax-call-incoming: unquote('"\\e99a"');
$isax-call-minus: unquote('"\\e99b"');
$isax-call-outgoing: unquote('"\\e99c"');
$isax-call-received: unquote('"\\e99d"');
$isax-call-remove: unquote('"\\e99e"');
$isax-call-slash: unquote('"\\e99f"');
$isax-call: unquote('"\\e9a0"');
$isax-camera-slash: unquote('"\\e9a1"');
$isax-camera: unquote('"\\e9a2"');
$isax-candle-2: unquote('"\\e9a3"');
$isax-candle: unquote('"\\e9a4"');
$isax-car: unquote('"\\e9a5"');
$isax-card-add: unquote('"\\e9a6"');
$isax-card-coin: unquote('"\\e9a7"');
$isax-card-edit: unquote('"\\e9a8"');
$isax-card-pos: unquote('"\\e9a9"');
$isax-card-receive: unquote('"\\e9aa"');
$isax-card-remove-1: unquote('"\\e9ab"');
$isax-card-remove: unquote('"\\e9ac"');
$isax-card-send: unquote('"\\e9ad"');
$isax-card-slash: unquote('"\\e9ae"');
$isax-card-tick-1: unquote('"\\e9af"');
$isax-card-tick: unquote('"\\e9b0"');
$isax-card: unquote('"\\e9b1"');
$isax-cards: unquote('"\\e9b2"');
$isax-category-2: unquote('"\\e9b3"');
$isax-category: unquote('"\\e9b4"');
$isax-cd: unquote('"\\e9b5"');
$isax-chart-1: unquote('"\\e9b6"');
$isax-chart-2: unquote('"\\e9b7"');
$isax-chart-3: unquote('"\\e9b8"');
$isax-chart-21: unquote('"\\e9b9"');
$isax-chart-fail: unquote('"\\e9ba"');
$isax-chart-square: unquote('"\\e9bb"');
$isax-chart-success: unquote('"\\e9bc"');
$isax-chart: unquote('"\\e9bd"');
$isax-check: unquote('"\\e9be"');
$isax-chrome: unquote('"\\e9bf"');
$isax-clipboard-close: unquote('"\\e9c0"');
$isax-clipboard-export: unquote('"\\e9c1"');
$isax-clipboard-import: unquote('"\\e9c2"');
$isax-clipboard-text: unquote('"\\e9c3"');
$isax-clipboard-tick: unquote('"\\e9c4"');
$isax-clipboard: unquote('"\\e9c5"');
$isax-clock-1: unquote('"\\e9c6"');
$isax-clock: unquote('"\\e9c7"');
$isax-close-circle: unquote('"\\e9c8"');
$isax-close-square: unquote('"\\e9c9"');
$isax-cloud-add: unquote('"\\e9ca"');
$isax-cloud-change: unquote('"\\e9cb"');
$isax-cloud-connection: unquote('"\\e9cc"');
$isax-cloud-cross: unquote('"\\e9cd"');
$isax-cloud-drizzle: unquote('"\\e9ce"');
$isax-cloud-fog: unquote('"\\e9cf"');
$isax-cloud-lightning: unquote('"\\e9d0"');
$isax-cloud-minus: unquote('"\\e9d1"');
$isax-cloud-notif: unquote('"\\e9d2"');
$isax-cloud-plus: unquote('"\\e9d3"');
$isax-cloud-remove: unquote('"\\e9d4"');
$isax-cloud-snow: unquote('"\\e9d5"');
$isax-cloud-sunny: unquote('"\\e9d6"');
$isax-cloud: unquote('"\\e9d7"');
$isax-code-1: unquote('"\\e9d8"');
$isax-code-circle: unquote('"\\e9d9"');
$isax-code: unquote('"\\e9da"');
$isax-coffee: unquote('"\\e9db"');
$isax-coin-1: unquote('"\\e9dc"');
$isax-coin: unquote('"\\e9dd"');
$isax-color-swatch: unquote('"\\e9de"');
$isax-colorfilter: unquote('"\\e9df"');
$isax-colors-square: unquote('"\\e9e0"');
$isax-command-square: unquote('"\\e9e1"');
$isax-command: unquote('"\\e9e2"');
$isax-component: unquote('"\\e9e3"');
$isax-computing: unquote('"\\e9e4"');
$isax-convert-3d-cube: unquote('"\\e9e5"');
$isax-convert-card: unquote('"\\e9e6"');
$isax-convert: unquote('"\\e9e7"');
$isax-convertshape-2: unquote('"\\e9e8"');
$isax-convertshape: unquote('"\\e9e9"');
$isax-copy-success: unquote('"\\e9ea"');
$isax-copy: unquote('"\\e9eb"');
$isax-copyright: unquote('"\\e9ec"');
$isax-courthouse: unquote('"\\e9ed"');
$isax-cpu-charge: unquote('"\\e9ee"');
$isax-cpu-setting: unquote('"\\e9ef"');
$isax-cpu: unquote('"\\e9f0"');
$isax-creative-commons: unquote('"\\e9f1"');
$isax-crop: unquote('"\\e9f2"');
$isax-crown-1: unquote('"\\e9f3"');
$isax-crown: unquote('"\\e9f4"');
$isax-cup: unquote('"\\e9f5"');
$isax-danger: unquote('"\\e9f6"');
$isax-data-2: unquote('"\\e9f7"');
$isax-data: unquote('"\\e9f8"');
$isax-designtools: unquote('"\\e9f9"');
$isax-device-message: unquote('"\\e9fa"');
$isax-devices-1: unquote('"\\e9fb"');
$isax-devices: unquote('"\\e9fc"');
$isax-diagram: unquote('"\\e9fd"');
$isax-diamonds: unquote('"\\e9fe"');
$isax-direct-down: unquote('"\\e9ff"');
$isax-direct-inbox: unquote('"\\ea00"');
$isax-direct-left: unquote('"\\ea01"');
$isax-direct-normal: unquote('"\\ea02"');
$isax-direct-notification: unquote('"\\ea03"');
$isax-direct-right: unquote('"\\ea04"');
$isax-direct-send: unquote('"\\ea05"');
$isax-direct-up: unquote('"\\ea06"');
$isax-direct: unquote('"\\ea07"');
$isax-directbox-default: unquote('"\\ea08"');
$isax-directbox-notif: unquote('"\\ea09"');
$isax-directbox-receive: unquote('"\\ea0a"');
$isax-directbox-send: unquote('"\\ea0b"');
$isax-discount-circle: unquote('"\\ea0c"');
$isax-discount-shape: unquote('"\\ea0d"');
$isax-discover-1: unquote('"\\ea0e"');
$isax-discover: unquote('"\\ea0f"');
$isax-dislike: unquote('"\\ea10"');
$isax-document-1: unquote('"\\ea11"');
$isax-document-cloud: unquote('"\\ea12"');
$isax-document-code-2: unquote('"\\ea13"');
$isax-document-code: unquote('"\\ea14"');
$isax-document-copy: unquote('"\\ea15"');
$isax-document-download: unquote('"\\ea16"');
$isax-document-favorite: unquote('"\\ea17"');
$isax-document-filter: unquote('"\\ea18"');
$isax-document-forward: unquote('"\\ea19"');
$isax-document-like: unquote('"\\ea1a"');
$isax-document-normal: unquote('"\\ea1b"');
$isax-document-previous: unquote('"\\ea1c"');
$isax-document-sketch: unquote('"\\ea1d"');
$isax-document-text-1: unquote('"\\ea1e"');
$isax-document-text: unquote('"\\ea1f"');
$isax-document-upload: unquote('"\\ea20"');
$isax-document: unquote('"\\ea21"');
$isax-dollar-circle: unquote('"\\ea22"');
$isax-dollar-square: unquote('"\\ea23"');
$isax-driver-2: unquote('"\\ea24"');
$isax-driver: unquote('"\\ea25"');
$isax-driving: unquote('"\\ea26"');
$isax-edit-2: unquote('"\\ea27"');
$isax-edit: unquote('"\\ea28"');
$isax-electricity: unquote('"\\ea29"');
$isax-element-2: unquote('"\\ea2a"');
$isax-element-3: unquote('"\\ea2b"');
$isax-element-4: unquote('"\\ea2c"');
$isax-element-equal: unquote('"\\ea2d"');
$isax-element-plus: unquote('"\\ea2e"');
$isax-emoji-happy: unquote('"\\ea2f"');
$isax-emoji-normal: unquote('"\\ea30"');
$isax-emoji-sad: unquote('"\\ea31"');
$isax-empty-wallet-add: unquote('"\\ea32"');
$isax-empty-wallet-change: unquote('"\\ea33"');
$isax-empty-wallet-remove: unquote('"\\ea34"');
$isax-empty-wallet-tick: unquote('"\\ea35"');
$isax-empty-wallet-time: unquote('"\\ea36"');
$isax-empty-wallet: unquote('"\\ea37"');
$isax-eraser-1: unquote('"\\ea38"');
$isax-eraser: unquote('"\\ea39"');
$isax-export-1: unquote('"\\ea3a"');
$isax-export-2: unquote('"\\ea3b"');
$isax-export-3: unquote('"\\ea3c"');
$isax-export: unquote('"\\ea3d"');
$isax-external-drive: unquote('"\\ea3e"');
$isax-eye-slash: unquote('"\\ea3f"');
$isax-eye: unquote('"\\ea40"');
$isax-fatrows: unquote('"\\ea41"');
$isax-favorite-chart: unquote('"\\ea42"');
$isax-filter-add: unquote('"\\ea43"');
$isax-filter-edit: unquote('"\\ea44"');
$isax-filter-remove: unquote('"\\ea45"');
$isax-filter-search: unquote('"\\ea46"');
$isax-filter-square: unquote('"\\ea47"');
$isax-filter-tick: unquote('"\\ea48"');
$isax-filter: unquote('"\\ea49"');
$isax-finger-cricle: unquote('"\\ea4a"');
$isax-finger-scan: unquote('"\\ea4b"');
$isax-firstline: unquote('"\\ea4c"');
$isax-flag-2: unquote('"\\ea4d"');
$isax-flag: unquote('"\\ea4e"');
$isax-flash-1: unquote('"\\ea4f"');
$isax-flash-circle-1: unquote('"\\ea50"');
$isax-flash-circle: unquote('"\\ea51"');
$isax-flash-slash: unquote('"\\ea52"');
$isax-flash: unquote('"\\ea53"');
$isax-folder-2: unquote('"\\ea54"');
$isax-folder-add: unquote('"\\ea55"');
$isax-folder-cloud: unquote('"\\ea56"');
$isax-folder-connection: unquote('"\\ea57"');
$isax-folder-cross: unquote('"\\ea58"');
$isax-folder-favorite: unquote('"\\ea59"');
$isax-folder-minus: unquote('"\\ea5a"');
$isax-folder-open: unquote('"\\ea5b"');
$isax-folder: unquote('"\\ea5c"');
$isax-forbidden-2: unquote('"\\ea5d"');
$isax-forbidden: unquote('"\\ea5e"');
$isax-format-circle: unquote('"\\ea5f"');
$isax-format-square: unquote('"\\ea60"');
$isax-forward-5-seconds: unquote('"\\ea61"');
$isax-forward-10-seconds: unquote('"\\ea62"');
$isax-forward-15-seconds: unquote('"\\ea63"');
$isax-forward-item: unquote('"\\ea64"');
$isax-forward-square: unquote('"\\ea65"');
$isax-forward: unquote('"\\ea66"');
$isax-frame-1: unquote('"\\ea67"');
$isax-frame-2: unquote('"\\ea68"');
$isax-frame-3: unquote('"\\ea69"');
$isax-frame-4: unquote('"\\ea6a"');
$isax-frame: unquote('"\\ea6b"');
$isax-gallery-add: unquote('"\\ea6c"');
$isax-gallery-edit: unquote('"\\ea6d"');
$isax-gallery-export: unquote('"\\ea6e"');
$isax-gallery-favorite: unquote('"\\ea6f"');
$isax-gallery-import: unquote('"\\ea70"');
$isax-gallery-remove: unquote('"\\ea71"');
$isax-gallery-slash: unquote('"\\ea72"');
$isax-gallery-tick: unquote('"\\ea73"');
$isax-gallery: unquote('"\\ea74"');
$isax-game: unquote('"\\ea75"');
$isax-gameboy: unquote('"\\ea76"');
$isax-gas-station: unquote('"\\ea77"');
$isax-gemini-2: unquote('"\\ea78"');
$isax-gemini: unquote('"\\ea79"');
$isax-ghost: unquote('"\\ea7a"');
$isax-gift: unquote('"\\ea7b"');
$isax-glass-1: unquote('"\\ea7c"');
$isax-glass: unquote('"\\ea7d"');
$isax-global-edit: unquote('"\\ea7e"');
$isax-global-refresh: unquote('"\\ea7f"');
$isax-global-search: unquote('"\\ea80"');
$isax-global: unquote('"\\ea81"');
$isax-gps-slash: unquote('"\\ea82"');
$isax-gps: unquote('"\\ea83"');
$isax-grammerly: unquote('"\\ea84"');
$isax-graph: unquote('"\\ea85"');
$isax-grid-1: unquote('"\\ea86"');
$isax-grid-2: unquote('"\\ea87"');
$isax-grid-3: unquote('"\\ea88"');
$isax-grid-4: unquote('"\\ea89"');
$isax-grid-5: unquote('"\\ea8a"');
$isax-grid-6: unquote('"\\ea8b"');
$isax-grid-7: unquote('"\\ea8c"');
$isax-grid-8: unquote('"\\ea8d"');
$isax-grid-9: unquote('"\\ea8e"');
$isax-grid-edit: unquote('"\\ea8f"');
$isax-grid-eraser: unquote('"\\ea90"');
$isax-grid-lock: unquote('"\\ea91"');
$isax-happyemoji: unquote('"\\ea92"');
$isax-hashtag-1: unquote('"\\ea93"');
$isax-hashtag-down: unquote('"\\ea94"');
$isax-hashtag-up: unquote('"\\ea95"');
$isax-hashtag: unquote('"\\ea96"');
$isax-headphone: unquote('"\\ea97"');
$isax-headphones: unquote('"\\ea98"');
$isax-health: unquote('"\\ea99"');
$isax-heart-add: unquote('"\\ea9a"');
$isax-heart-circle: unquote('"\\ea9b"');
$isax-heart-edit: unquote('"\\ea9c"');
$isax-heart-remove: unquote('"\\ea9d"');
$isax-heart-search: unquote('"\\ea9e"');
$isax-heart-slash: unquote('"\\ea9f"');
$isax-heart-tick: unquote('"\\eaa0"');
$isax-heart: unquote('"\\eaa1"');
$isax-hierarchy-2: unquote('"\\eaa2"');
$isax-hierarchy-3: unquote('"\\eaa3"');
$isax-hierarchy-square-2: unquote('"\\eaa4"');
$isax-hierarchy-square-3: unquote('"\\eaa5"');
$isax-hierarchy-square: unquote('"\\eaa6"');
$isax-hierarchy: unquote('"\\eaa7"');
$isax-home-1: unquote('"\\eaa8"');
$isax-home-2: unquote('"\\eaa9"');
$isax-home-hashtag: unquote('"\\eaaa"');
$isax-home-trend-down: unquote('"\\eaab"');
$isax-home-trend-up: unquote('"\\eaac"');
$isax-home-wifi: unquote('"\\eaad"');
$isax-home: unquote('"\\eaae"');
$isax-hospital: unquote('"\\eaaf"');
$isax-house-2: unquote('"\\eab0"');
$isax-house: unquote('"\\eab1"');
$isax-icon: unquote('"\\eab2"');
$isax-image: unquote('"\\eab3"');
$isax-import-1: unquote('"\\eab4"');
$isax-import-2: unquote('"\\eab5"');
$isax-import: unquote('"\\eab6"');
$isax-info-circle: unquote('"\\eab7"');
$isax-information: unquote('"\\eab8"');
$isax-instagram: unquote('"\\eab9"');
$isax-judge: unquote('"\\eaba"');
$isax-kanban: unquote('"\\eabb"');
$isax-key-square: unquote('"\\eabc"');
$isax-key: unquote('"\\eabd"');
$isax-keyboard-open: unquote('"\\eabe"');
$isax-keyboard: unquote('"\\eabf"');
$isax-lamp-1: unquote('"\\eac0"');
$isax-lamp-charge: unquote('"\\eac1"');
$isax-lamp-on: unquote('"\\eac2"');
$isax-lamp-slash: unquote('"\\eac3"');
$isax-lamp: unquote('"\\eac4"');
$isax-language-circle: unquote('"\\eac5"');
$isax-language-square: unquote('"\\eac6"');
$isax-layer: unquote('"\\eac7"');
$isax-level: unquote('"\\eac8"');
$isax-lifebuoy: unquote('"\\eac9"');
$isax-like-1: unquote('"\\eaca"');
$isax-like-dislike: unquote('"\\eacb"');
$isax-like-shapes: unquote('"\\eacc"');
$isax-like-tag: unquote('"\\eacd"');
$isax-like: unquote('"\\eace"');
$isax-link-1: unquote('"\\eacf"');
$isax-link-2: unquote('"\\ead0"');
$isax-link-21: unquote('"\\ead1"');
$isax-link-circle: unquote('"\\ead2"');
$isax-link-square: unquote('"\\ead3"');
$isax-link: unquote('"\\ead4"');
$isax-location-add: unquote('"\\ead5"');
$isax-location-cross: unquote('"\\ead6"');
$isax-location-minus: unquote('"\\ead7"');
$isax-location-slash: unquote('"\\ead8"');
$isax-location-tick: unquote('"\\ead9"');
$isax-location: unquote('"\\eada"');
$isax-lock-1: unquote('"\\eadb"');
$isax-lock-circle: unquote('"\\eadc"');
$isax-lock-slash: unquote('"\\eadd"');
$isax-lock: unquote('"\\eade"');
$isax-login-1: unquote('"\\eadf"');
$isax-login: unquote('"\\eae0"');
$isax-logout-1: unquote('"\\eae1"');
$isax-logout: unquote('"\\eae2"');
$isax-lovely: unquote('"\\eae3"');
$isax-magic-star: unquote('"\\eae4"');
$isax-magicpen: unquote('"\\eae5"');
$isax-main-component: unquote('"\\eae6"');
$isax-man: unquote('"\\eae7"');
$isax-map-1: unquote('"\\eae8"');
$isax-map: unquote('"\\eae9"');
$isax-mask-1: unquote('"\\eaea"');
$isax-mask-2: unquote('"\\eaeb"');
$isax-mask: unquote('"\\eaec"');
$isax-math: unquote('"\\eaed"');
$isax-maximize-1: unquote('"\\eaee"');
$isax-maximize-2: unquote('"\\eaef"');
$isax-maximize-3: unquote('"\\eaf0"');
$isax-maximize-4: unquote('"\\eaf1"');
$isax-maximize-21: unquote('"\\eaf2"');
$isax-maximize-circle: unquote('"\\eaf3"');
$isax-maximize: unquote('"\\eaf4"');
$isax-medal-star: unquote('"\\eaf5"');
$isax-medal: unquote('"\\eaf6"');
$isax-menu-1: unquote('"\\eaf7"');
$isax-menu-board: unquote('"\\eaf8"');
$isax-menu: unquote('"\\eaf9"');
$isax-message-2: unquote('"\\eafa"');
$isax-message-add-1: unquote('"\\eafb"');
$isax-message-add: unquote('"\\eafc"');
$isax-message-circle: unquote('"\\eafd"');
$isax-message-edit: unquote('"\\eafe"');
$isax-message-favorite: unquote('"\\eaff"');
$isax-message-minus: unquote('"\\eb00"');
$isax-message-notif: unquote('"\\eb01"');
$isax-message-programming: unquote('"\\eb02"');
$isax-message-question-old: unquote('"\\eb03"');
$isax-message-remove: unquote('"\\eb04"');
$isax-message-search: unquote('"\\eb05"');
$isax-message-square: unquote('"\\eb06"');
$isax-message-text-1: unquote('"\\eb07"');
$isax-message-text: unquote('"\\eb08"');
$isax-message-tick: unquote('"\\eb09"');
$isax-message-time: unquote('"\\eb0a"');
$isax-message: unquote('"\\eb0b"');
$isax-messages-1: unquote('"\\eb0c"');
$isax-messages-2: unquote('"\\eb0d"');
$isax-messages-3: unquote('"\\eb0e"');
$isax-messages: unquote('"\\eb0f"');
$isax-microphone-2: unquote('"\\eb10"');
$isax-microphone-slash-1: unquote('"\\eb11"');
$isax-microphone-slash: unquote('"\\eb12"');
$isax-microphone: unquote('"\\eb13"');
$isax-microscope: unquote('"\\eb14"');
$isax-milk: unquote('"\\eb15"');
$isax-mini-music-sqaure: unquote('"\\eb16"');
$isax-minus-cirlce: unquote('"\\eb17"');
$isax-minus-square: unquote('"\\eb18"');
$isax-minus: unquote('"\\eb19"');
$isax-mirror: unquote('"\\eb1a"');
$isax-mirroring-screen: unquote('"\\eb1b"');
$isax-mobile-programming: unquote('"\\eb1c"');
$isax-mobile: unquote('"\\eb1d"');
$isax-money-2: unquote('"\\eb1e"');
$isax-money-3: unquote('"\\eb1f"');
$isax-money-4: unquote('"\\eb20"');
$isax-money-add: unquote('"\\eb21"');
$isax-money-change: unquote('"\\eb22"');
$isax-money-forbidden: unquote('"\\eb23"');
$isax-money-recive: unquote('"\\eb24"');
$isax-money-remove: unquote('"\\eb25"');
$isax-money-send: unquote('"\\eb26"');
$isax-money-tick: unquote('"\\eb27"');
$isax-money-time: unquote('"\\eb28"');
$isax-money: unquote('"\\eb29"');
$isax-moneys: unquote('"\\eb2a"');
$isax-monitor-mobbile: unquote('"\\eb2b"');
$isax-monitor-recorder: unquote('"\\eb2c"');
$isax-monitor: unquote('"\\eb2d"');
$isax-moon: unquote('"\\eb2e"');
$isax-more-2: unquote('"\\eb2f"');
$isax-more-circle: unquote('"\\eb30"');
$isax-more-square: unquote('"\\eb31"');
$isax-more: unquote('"\\eb32"');
$isax-mouse-1: unquote('"\\eb33"');
$isax-mouse-circle: unquote('"\\eb34"');
$isax-mouse-square: unquote('"\\eb35"');
$isax-mouse: unquote('"\\eb36"');
$isax-music-circle: unquote('"\\eb37"');
$isax-music-dashboard: unquote('"\\eb38"');
$isax-music-filter: unquote('"\\eb39"');
$isax-music-library-2: unquote('"\\eb3a"');
$isax-music-play: unquote('"\\eb3b"');
$isax-music-playlist: unquote('"\\eb3c"');
$isax-music-square-add: unquote('"\\eb3d"');
$isax-music-square-remove: unquote('"\\eb3e"');
$isax-music-square-search: unquote('"\\eb3f"');
$isax-music-square: unquote('"\\eb40"');
$isax-music: unquote('"\\eb41"');
$isax-musicnote: unquote('"\\eb42"');
$isax-next: unquote('"\\eb43"');
$isax-note-1: unquote('"\\eb44"');
$isax-note-2: unquote('"\\eb45"');
$isax-note-21: unquote('"\\eb46"');
$isax-note-add: unquote('"\\eb47"');
$isax-note-favorite: unquote('"\\eb48"');
$isax-note-remove: unquote('"\\eb49"');
$isax-note-square: unquote('"\\eb4a"');
$isax-note-text: unquote('"\\eb4b"');
$isax-note: unquote('"\\eb4c"');
$isax-notification-1: unquote('"\\eb4d"');
$isax-notification-bing: unquote('"\\eb4e"');
$isax-notification-circle: unquote('"\\eb4f"');
$isax-notification-favorite: unquote('"\\eb50"');
$isax-notification-status: unquote('"\\eb51"');
$isax-notification: unquote('"\\eb52"');
$isax-omega-circle: unquote('"\\eb53"');
$isax-omega-square: unquote('"\\eb54"');
$isax-paintbucket: unquote('"\\eb55"');
$isax-paperclip-2: unquote('"\\eb56"');
$isax-paperclip: unquote('"\\eb57"');
$isax-password-check: unquote('"\\eb58"');
$isax-path-2: unquote('"\\eb59"');
$isax-path-square: unquote('"\\eb5a"');
$isax-path: unquote('"\\eb5b"');
$isax-pause-circle: unquote('"\\eb5c"');
$isax-pause: unquote('"\\eb5d"');
$isax-pen-add: unquote('"\\eb5e"');
$isax-pen-close: unquote('"\\eb5f"');
$isax-pen-remove: unquote('"\\eb60"');
$isax-pen-tool-2: unquote('"\\eb61"');
$isax-pen-tool: unquote('"\\eb62"');
$isax-people: unquote('"\\eb63"');
$isax-percentage-circle: unquote('"\\eb64"');
$isax-percentage-square: unquote('"\\eb65"');
$isax-personalcard: unquote('"\\eb66"');
$isax-pet: unquote('"\\eb67"');
$isax-pharagraphspacing: unquote('"\\eb68"');
$isax-picture-frame: unquote('"\\eb69"');
$isax-play-add: unquote('"\\eb6a"');
$isax-play-circle: unquote('"\\eb6b"');
$isax-play-cricle: unquote('"\\eb6c"');
$isax-play-remove: unquote('"\\eb6d"');
$isax-play: unquote('"\\eb6e"');
$isax-presention-chart: unquote('"\\eb6f"');
$isax-previous: unquote('"\\eb70"');
$isax-printer-slash: unquote('"\\eb71"');
$isax-printer: unquote('"\\eb72"');
$isax-profile-2user: unquote('"\\eb73"');
$isax-profile-add: unquote('"\\eb74"');
$isax-profile-circle: unquote('"\\eb75"');
$isax-profile-delete: unquote('"\\eb76"');
$isax-profile-remove: unquote('"\\eb77"');
$isax-profile-tick: unquote('"\\eb78"');
$isax-programming-arrow: unquote('"\\eb79"');
$isax-programming-arrows: unquote('"\\eb7a"');
$isax-quote-down-circle: unquote('"\\eb7b"');
$isax-quote-down-square: unquote('"\\eb7c"');
$isax-quote-down: unquote('"\\eb7d"');
$isax-quote-up-circle: unquote('"\\eb7e"');
$isax-quote-up-square: unquote('"\\eb7f"');
$isax-quote-up: unquote('"\\eb80"');
$isax-radar-1: unquote('"\\eb81"');
$isax-radar-2: unquote('"\\eb82"');
$isax-radar: unquote('"\\eb83"');
$isax-radio: unquote('"\\eb84"');
$isax-ram-2: unquote('"\\eb85"');
$isax-ram: unquote('"\\eb86"');
$isax-ranking-1: unquote('"\\eb87"');
$isax-ranking: unquote('"\\eb88"');
$isax-receipt-1: unquote('"\\eb89"');
$isax-receipt-2-1: unquote('"\\eb8a"');
$isax-receipt-2: unquote('"\\eb8b"');
$isax-receipt-add: unquote('"\\eb8c"');
$isax-receipt-discount: unquote('"\\eb8d"');
$isax-receipt-disscount: unquote('"\\eb8e"');
$isax-receipt-edit: unquote('"\\eb8f"');
$isax-receipt-item: unquote('"\\eb90"');
$isax-receipt-minus: unquote('"\\eb91"');
$isax-receipt-search: unquote('"\\eb92"');
$isax-receipt-square: unquote('"\\eb93"');
$isax-receipt-text: unquote('"\\eb94"');
$isax-receipt: unquote('"\\eb95"');
$isax-receive-square-2: unquote('"\\eb96"');
$isax-receive-square: unquote('"\\eb97"');
$isax-received: unquote('"\\eb98"');
$isax-record-circle: unquote('"\\eb99"');
$isax-record: unquote('"\\eb9a"');
$isax-recovery-convert: unquote('"\\eb9b"');
$isax-redo: unquote('"\\eb9c"');
$isax-refresh-2: unquote('"\\eb9d"');
$isax-refresh-circle: unquote('"\\eb9e"');
$isax-refresh-left-square: unquote('"\\eb9f"');
$isax-refresh-right-square: unquote('"\\eba0"');
$isax-refresh: unquote('"\\eba2"');
$isax-repeat-circle: unquote('"\\eba3"');
$isax-repeat: unquote('"\\eba4"');
$isax-repeate-music: unquote('"\\eba5"');
$isax-repeate-one: unquote('"\\eba6"');
$isax-reserve: unquote('"\\eba7"');
$isax-rotate-left-1: unquote('"\\eba8"');
$isax-rotate-left: unquote('"\\eba9"');
$isax-rotate-right-1: unquote('"\\ebaa"');
$isax-rotate-right: unquote('"\\ebab"');
$isax-route-square: unquote('"\\ebac"');
$isax-routing-2: unquote('"\\ebad"');
$isax-routing: unquote('"\\ebae"');
$isax-row-horizontal: unquote('"\\ebaf"');
$isax-row-vertical: unquote('"\\ebb0"');
$isax-ruler: unquote('"\\ebb1"');
$isax-rulerpen: unquote('"\\ebb2"');
$isax-safe-home: unquote('"\\ebb3"');
$isax-sagittarius: unquote('"\\ebb4"');
$isax-save-2: unquote('"\\ebb5"');
$isax-save-add: unquote('"\\ebb6"');
$isax-save-minus: unquote('"\\ebb7"');
$isax-save-remove: unquote('"\\ebb8"');
$isax-scan-barcode: unquote('"\\ebb9"');
$isax-scan: unquote('"\\ebba"');
$isax-scanner: unquote('"\\ebbb"');
$isax-scanning: unquote('"\\ebbc"');
$isax-scissor-1: unquote('"\\ebbd"');
$isax-scissor: unquote('"\\ebbe"');
$isax-screenmirroring: unquote('"\\ebbf"');
$isax-scroll: unquote('"\\ebc0"');
$isax-search-favorite-1: unquote('"\\ebc1"');
$isax-search-favorite: unquote('"\\ebc2"');
$isax-search-normal-1: unquote('"\\ebc3"');
$isax-search-normal: unquote('"\\ebc4"');
$isax-search-status-1: unquote('"\\ebc5"');
$isax-search-status: unquote('"\\ebc6"');
$isax-search-zoom-in-1: unquote('"\\ebc7"');
$isax-search-zoom-in: unquote('"\\ebc8"');
$isax-search-zoom-out-1: unquote('"\\ebc9"');
$isax-search-zoom-out: unquote('"\\ebca"');
$isax-security-card: unquote('"\\ebcb"');
$isax-security-safe: unquote('"\\ebcc"');
$isax-security-time: unquote('"\\ebcd"');
$isax-security-user: unquote('"\\ebce"');
$isax-security: unquote('"\\ebcf"');
$isax-send-1: unquote('"\\ebd0"');
$isax-send-2: unquote('"\\ebd1"');
$isax-send-sqaure-2: unquote('"\\ebd2"');
$isax-send-square: unquote('"\\ebd3"');
$isax-send: unquote('"\\ebd4"');
$isax-setting-2: unquote('"\\ebd5"');
$isax-setting-3: unquote('"\\ebd6"');
$isax-setting-4: unquote('"\\ebd7"');
$isax-setting-5: unquote('"\\ebd8"');
$isax-setting: unquote('"\\ebd9"');
$isax-settings: unquote('"\\ebda"');
$isax-shapes-1: unquote('"\\ebdb"');
$isax-shapes: unquote('"\\ebdc"');
$isax-share: unquote('"\\ebdd"');
$isax-shield-cross: unquote('"\\ebde"');
$isax-shield-search: unquote('"\\ebdf"');
$isax-shield-slash: unquote('"\\ebe0"');
$isax-shield-tick: unquote('"\\ebe1"');
$isax-shield: unquote('"\\ebe2"');
$isax-ship: unquote('"\\ebe3"');
$isax-shop-add: unquote('"\\ebe4"');
$isax-shop-remove: unquote('"\\ebe5"');
$isax-shop: unquote('"\\ebe6"');
$isax-shopping-bag: unquote('"\\ebe7"');
$isax-shopping-cart: unquote('"\\ebe8"');
$isax-shuffle: unquote('"\\ebe9"');
$isax-sidebar-bottom: unquote('"\\ebea"');
$isax-sidebar-left: unquote('"\\ebeb"');
$isax-sidebar-right: unquote('"\\ebec"');
$isax-sidebar-top: unquote('"\\ebed"');
$isax-signpost: unquote('"\\ebee"');
$isax-simcard-1: unquote('"\\ebef"');
$isax-simcard-2: unquote('"\\ebf0"');
$isax-simcard: unquote('"\\ebf1"');
$isax-size: unquote('"\\ebf2"');
$isax-slash: unquote('"\\ebf3"');
$isax-slider-horizontal-1: unquote('"\\ebf4"');
$isax-slider-horizontal: unquote('"\\ebf5"');
$isax-slider-vertical-1: unquote('"\\ebf6"');
$isax-slider-vertical: unquote('"\\ebf7"');
$isax-slider: unquote('"\\ebf8"');
$isax-smallcaps: unquote('"\\ebf9"');
$isax-smart-car: unquote('"\\ebfa"');
$isax-smart-home: unquote('"\\ebfb"');
$isax-smileys: unquote('"\\ebfc"');
$isax-sms-edit: unquote('"\\ebfd"');
$isax-sms-notification: unquote('"\\ebfe"');
$isax-sms-search: unquote('"\\ebff"');
$isax-sms-star: unquote('"\\ec00"');
$isax-sms-tracking: unquote('"\\ec01"');
$isax-sms: unquote('"\\ec02"');
$isax-sort: unquote('"\\ec03"');
$isax-sound: unquote('"\\ec04"');
$isax-speaker: unquote('"\\ec05"');
$isax-speedometer: unquote('"\\ec06"');
$isax-star-1: unquote('"\\ec07"');
$isax-star-slash: unquote('"\\ec08"');
$isax-star: unquote('"\\ec09"');
$isax-status-up: unquote('"\\ec0a"');
$isax-status: unquote('"\\ec0b"');
$isax-sticker: unquote('"\\ec0c"');
$isax-stickynote: unquote('"\\ec0d"');
$isax-stop-circle: unquote('"\\ec0e"');
$isax-stop: unquote('"\\ec0f"');
$isax-story: unquote('"\\ec10"');
$isax-strongbox-2: unquote('"\\ec11"');
$isax-strongbox: unquote('"\\ec12"');
$isax-subtitle: unquote('"\\ec13"');
$isax-sun-1: unquote('"\\ec14"');
$isax-sun-fog: unquote('"\\ec15"');
$isax-sun: unquote('"\\ec16"');
$isax-tag-2: unquote('"\\ec17"');
$isax-tag-cross: unquote('"\\ec18"');
$isax-tag-right: unquote('"\\ec19"');
$isax-tag-user: unquote('"\\ec1a"');
$isax-tag: unquote('"\\ec1b"');
$isax-task-square: unquote('"\\ec1c"');
$isax-task: unquote('"\\ec1d"');
$isax-teacher: unquote('"\\ec1e"');
$isax-text-block: unquote('"\\ec1f"');
$isax-text-bold: unquote('"\\ec20"');
$isax-text-italic: unquote('"\\ec21"');
$isax-text-underline: unquote('"\\ec22"');
$isax-text: unquote('"\\ec23"');
$isax-textalign-center: unquote('"\\ec24"');
$isax-textalign-justifycenter: unquote('"\\ec25"');
$isax-textalign-justifyleft: unquote('"\\ec26"');
$isax-textalign-justifyright: unquote('"\\ec27"');
$isax-textalign-left: unquote('"\\ec28"');
$isax-textalign-right: unquote('"\\ec29"');
$isax-tick-circle: unquote('"\\ec2a"');
$isax-tick-square: unquote('"\\ec2b"');
$isax-ticket-2: unquote('"\\ec2c"');
$isax-ticket-discount: unquote('"\\ec2d"');
$isax-ticket-expired: unquote('"\\ec2e"');
$isax-ticket-star: unquote('"\\ec2f"');
$isax-ticket: unquote('"\\ec30"');
$isax-timer-1: unquote('"\\ec31"');
$isax-timer-pause: unquote('"\\ec32"');
$isax-timer-start: unquote('"\\ec33"');
$isax-timer: unquote('"\\ec34"');
$isax-toggle-off-circle: unquote('"\\ec35"');
$isax-toggle-off: unquote('"\\ec36"');
$isax-toggle-on-circle: unquote('"\\ec37"');
$isax-toggle-on: unquote('"\\ec38"');
$isax-trade: unquote('"\\ec39"');
$isax-transaction-minus: unquote('"\\ec3a"');
$isax-translate: unquote('"\\ec3b"');
$isax-trash: unquote('"\\ec3c"');
$isax-tree: unquote('"\\ec3d"');
$isax-trend-down: unquote('"\\ec3e"');
$isax-trend-up: unquote('"\\ec3f"');
$isax-triangle: unquote('"\\ec40"');
$isax-truck-fast: unquote('"\\ec41"');
$isax-truck-remove: unquote('"\\ec42"');
$isax-truck-tick: unquote('"\\ec43"');
$isax-truck-time: unquote('"\\ec44"');
$isax-truck: unquote('"\\ec45"');
$isax-trush-square: unquote('"\\ec46"');
$isax-undo: unquote('"\\ec47"');
$isax-unlimited: unquote('"\\ec48"');
$isax-unlock: unquote('"\\ec49"');
$isax-user-add: unquote('"\\ec4a"');
$isax-user-cirlce-add: unquote('"\\ec4b"');
$isax-user-edit: unquote('"\\ec4c"');
$isax-user-minus: unquote('"\\ec4d"');
$isax-user-octagon: unquote('"\\ec4e"');
$isax-user-remove: unquote('"\\ec4f"');
$isax-user-search: unquote('"\\ec50"');
$isax-user-square: unquote('"\\ec51"');
$isax-user-tag: unquote('"\\ec52"');
$isax-user-tick: unquote('"\\ec53"');
$isax-user: unquote('"\\ec54"');
$isax-verify: unquote('"\\ec55"');
$isax-video-add: unquote('"\\ec56"');
$isax-video-circle: unquote('"\\ec57"');
$isax-video-horizontal: unquote('"\\ec58"');
$isax-video-octagon: unquote('"\\ec59"');
$isax-video-play: unquote('"\\ec5a"');
$isax-video-remove: unquote('"\\ec5b"');
$isax-video-slash: unquote('"\\ec5c"');
$isax-video-square: unquote('"\\ec5d"');
$isax-video-tick: unquote('"\\ec5e"');
$isax-video-time: unquote('"\\ec5f"');
$isax-video-vertical: unquote('"\\ec60"');
$isax-video: unquote('"\\ec61"');
$isax-voice-cricle: unquote('"\\ec62"');
$isax-voice-square: unquote('"\\ec63"');
$isax-volume-cross: unquote('"\\ec64"');
$isax-volume-high: unquote('"\\ec65"');
$isax-volume-low-1: unquote('"\\ec66"');
$isax-volume-low: unquote('"\\ec67"');
$isax-volume-mute: unquote('"\\ec68"');
$isax-volume-slash: unquote('"\\ec69"');
$isax-volume-up: unquote('"\\ec6a"');
$isax-wallet-1: unquote('"\\ec6b"');
$isax-wallet-2: unquote('"\\ec6c"');
$isax-wallet-3: unquote('"\\ec6d"');
$isax-wallet-add-1: unquote('"\\ec6e"');
$isax-wallet-add: unquote('"\\ec6f"');
$isax-wallet-check: unquote('"\\ec70"');
$isax-wallet-minus: unquote('"\\ec71"');
$isax-wallet-money: unquote('"\\ec72"');
$isax-wallet-remove: unquote('"\\ec73"');
$isax-wallet-search: unquote('"\\ec74"');
$isax-wallet: unquote('"\\ec75"');
$isax-warning-2: unquote('"\\ec76"');
$isax-watch-status: unquote('"\\ec77"');
$isax-watch: unquote('"\\ec78"');
$isax-weight-1: unquote('"\\ec79"');
$isax-weight: unquote('"\\ec7a"');
$isax-wifi-square: unquote('"\\ec7b"');
$isax-wifi: unquote('"\\ec7c"');
$isax-wind-2: unquote('"\\ec7d"');
$isax-wind: unquote('"\\ec7e"');
$isax-woman: unquote('"\\ec7f"');
